body {
    font-family: Arial, sans-serif;
}

header {
    background: url('../img/checo-header.jpg') no-repeat center center/cover;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    font-size: 1.5em;
}

#biography img {
    margin-top: 20px;
}

#gallery .card {
    overflow: hidden;
}

#gallery .card img {
    transition: transform 0.3s ease;
}

#gallery .card:hover img {
    transform: scale(1.1);
}
